 <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 680px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #D4E6F1  ;
      height: 100%;
      width: 350px;
    }
    /* #BB8FCE */
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 800px) {
      .row.content {height: auto;width: auto;} 
    }

    .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(99, 213, 233);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  z-index: 3;
}

.my-float{
	margin-top:25px;
}
  </style>

<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2 style="color: black;font-size:77px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-weight: 500px;"><div class="l1"><svg class="bi bi-bootstrap-fill" width="1em" height="1.1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4.002 0a4 4 0 00-4 4v8a4 4 0 004 4h8a4 4 0 004-4V4a4 4 0 00-4-4h-8zm1.06 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062V12zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z" clip-rule="evenodd"/>
      </svg>.EETLE</div></h2>
      <ul class="nav nav-pills nav-stacked">
        <li><img style="height: 270px;width: 300px;" src="https://i.pinimg.com/originals/c9/91/72/c99172c17b83d3c620b997858351b2a5.gif"></li><br><br>
        <li><div class="l1"><svg class="bi bi-server" width="3em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M13 2c0-1.105-2.239-2-5-2S3 .895 3 2s2.239 2 5 2 5-.895 5-2z"/>
          <path d="M13 3.75c-.322.24-.698.435-1.093.593C10.857 4.763 9.475 5 8 5s-2.857-.237-3.907-.657A4.881 4.881 0 013 3.75V6c0 1.105 2.239 2 5 2s5-.895 5-2V3.75z"/>
          <path d="M13 7.75c-.322.24-.698.435-1.093.593C10.857 8.763 9.475 9 8 9s-2.857-.237-3.907-.657A4.881 4.881 0 013 7.75V10c0 1.105 2.239 2 5 2s5-.895 5-2V7.75z"/>
          <path d="M13 11.75c-.322.24-.698.435-1.093.593-1.05.42-2.432.657-3.907.657s-2.857-.237-3.907-.657A4.883 4.883 0 013 11.75V14c0 1.105 2.239 2 5 2s5-.895 5-2v-2.25z"/>
        </svg><a style="color: black;font-size: 22px;" href="">Dashboard</a></div></li><br><br>



        <li><div class="l1"><svg class="bi bi-person-fill" width="3em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
        </svg><a style="color: black;font-size: 22px;" href="/profile">Profile</a></div></li><br><br>



        <li><div class="l1"><svg class="bi bi-briefcase-fill" width="3em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 12.5A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5V6.85L8.129 8.947a.5.5 0 01-.258 0L0 6.85v5.65z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M0 4.5A1.5 1.5 0 011.5 3h13A1.5 1.5 0 0116 4.5v1.384l-7.614 2.03a1.5 1.5 0 01-.772 0L0 5.884V4.5zm5-2A1.5 1.5 0 016.5 1h3A1.5 1.5 0 0111 2.5V3h-1v-.5a.5.5 0 00-.5-.5h-3a.5.5 0 00-.5.5V3H5v-.5z" clip-rule="evenodd"/>
        </svg><a style="color: black;font-size: 22px;" href="#">About</a></div></li><br><br>



        <li><div class="l1"><svg class="bi bi-exclamation-diamond-fill" width="3em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
        </svg><a style="color: black;font-size: 22px;" onclick="signout()">Sign Out</a></div></li><br><br>

        
        <!-- <li><a href="#section2">Age</a></li>
        <li><a href="#section3">Gender</a></li>
        <li><a href="#section3">Geo</a></li> -->
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9">
      <div class="well">
        
          <!-- <div class="l2"> <img style="height:180px;width: 200px;" src="https://image.freepik.com/free-vector/big-light-bulb-connected-to-business-icons_23-2147491092.jpg"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
          
          <div class="l1">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <h4 style="color:maroon;font-size: 80px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-weight: 500;">BEETLE</h4>
            </div>
          <p style="margin-left: 650px;margin-top: 10px;"></p>
         <!-- <div class="l1">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <h4 style="color: red;font-size: 80px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-weight: 500;">BEETLE</h4>
        -->
        
        <p style="color:#9B59B6 ;font-size: 25px;font-weight: 800;"><i>Manage with ease and work with joy with</i></p>
      </div>
      {{#unless data.user.isOwner}}
      {{#if data.projects.projects}}
      {{#each data.projects.projects}}
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <!-- <h4>Users</h4>
            <p>1 Million</p>  -->
            <div class="l1">
            <svg class="bi bi-clipboard-data" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 00-2 2V14a2 2 0 002 2h10a2 2 0 002-2V3.5a2 2 0 00-2-2h-1v1h1a1 1 0 011 1V14a1 1 0 01-1 1H3a1 1 0 01-1-1V3.5a1 1 0 011-1h1v-1z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-1a.5.5 0 00-.5-.5zm-3-1A1.5 1.5 0 005 1.5v1A1.5 1.5 0 006.5 4h3A1.5 1.5 0 0011 2.5v-1A1.5 1.5 0 009.5 0h-3z" clip-rule="evenodd"/>
              <path d="M4 11a1 1 0 112 0v1a1 1 0 11-2 0v-1zm6-4a1 1 0 112 0v5a1 1 0 11-2 0V7zM7 9a1 1 0 012 0v3a1 1 0 11-2 0V9z"/>
            </svg>&nbsp;&nbsp;&nbsp;
           
            <button class="btn btn-danger" type="button" value="{{name}}" onclick="openprojectmember(this.value)">{{name}}</button>
            <script>
               function openprojectmember(pname){
              console.log(pname)
              window.location = "/memberhomepage2/" + pname;
  }
            </script>
            </div>
          </div>
        </div>
        </div>
      {{/each}}
      {{/if}}

      {{#if data.privateprojects.privateprojects}}
      <div>
        <h2>Private Projects</h2>
        <hr>
      </div>
      {{#each data.privateprojects.privateprojects}}
       <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <!-- <h4>Users</h4>
            <p>1 Million</p>  -->
            <div class="l1">
            <svg class="bi bi-clipboard-data" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 00-2 2V14a2 2 0 002 2h10a2 2 0 002-2V3.5a2 2 0 00-2-2h-1v1h1a1 1 0 011 1V14a1 1 0 01-1 1H3a1 1 0 01-1-1V3.5a1 1 0 011-1h1v-1z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-1a.5.5 0 00-.5-.5zm-3-1A1.5 1.5 0 005 1.5v1A1.5 1.5 0 006.5 4h3A1.5 1.5 0 0011 2.5v-1A1.5 1.5 0 009.5 0h-3z" clip-rule="evenodd"/>
              <path d="M4 11a1 1 0 112 0v1a1 1 0 11-2 0v-1zm6-4a1 1 0 112 0v5a1 1 0 11-2 0V7zM7 9a1 1 0 012 0v3a1 1 0 11-2 0V9z"/>
            </svg>&nbsp;&nbsp;&nbsp;
           
            <button class="btn btn-danger" type="button" value="{{name}}" onclick="openproject(this.value)">{{name}}</button>
            <script>
               function openproject(pname){
              console.log(pname)
              window.location = "/memberhomepage2/" + pname;
  }
            </script>
            </div>
          </div>
        </div>
        </div>
        {{/each}}
        {{/if}}

        {{#unless data.projects.projects}}
        {{#unless data.privateprojects.privateprojects}}
        <div style="height: 300px;">
          <center><h3>Your Projects appear Here</h3></center>
        </div>
        {{/unless}}
        {{/unless}}
        {{/unless}}

        {{#if data.user.isOwner}}
        {{#if data.projects.projects}}
      {{#each data.projects.projects}}
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <!-- <h4>Users</h4>
            <p>1 Million</p>  -->
            <div class="l1">
            <button class="btn btn-primary" value="{{_id}}" onclick="deleteproject(this.value)"><i class="fas fa-trash"></i></button>&nbsp;&nbsp;&nbsp;
           
            <button class="btn btn-danger" type="button" value="{{name}}" onclick="openprojectowner(this.value)">{{name}}</button>
            <script>
               function openprojectowner(pname){
              console.log(pname)
              window.location = "/ownerhomepage2/" + pname;
  }
            </script>
            </div>
          </div>
        </div>
        </div>
      {{/each}}
      {{/if}}

      {{#if data.privateprojects.privateprojects}}
      <div>
        <h2>Private Projects</h2>
        <hr>
      </div>
      {{#each data.privateprojects.privateprojects}}
       <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <!-- <h4>Users</h4>
            <p>1 Million</p>  -->
            <div class="l1">
            <button class="btn btn-primary" value="{{_id}}" onclick="deleteproject(this.value)"><i class="fas fa-trash"></i></button>&nbsp;&nbsp;&nbsp;
           
            <button class="btn btn-danger" type="button" value="{{name}}" onclick="openproject(this.value)">{{name}}</button>
            <script>
               function openproject(pname){
              console.log(pname)
              window.location = "/ownerhomepage2/" + pname;
  }
            </script>
            </div>
          </div>
        </div>
        </div>
        {{/each}}
        {{/if}}

        {{#unless data.projects.projects}}
        {{#unless data.privateprojects.privateprojects}}
        <div style="height: 300px;">
          <center><h3>No Projects. Create New Project</h3></center>
        </div>
        {{/unless}}
        {{/unless}}

        <a href="/newproject" class="float">
        <i class="fas fa-plus my-float"></i>
        </a>
        {{/if}}
       {{!-- <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <div class="l1">
              <svg class="bi bi-clipboard-data" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 00-2 2V14a2 2 0 002 2h10a2 2 0 002-2V3.5a2 2 0 00-2-2h-1v1h1a1 1 0 011 1V14a1 1 0 01-1 1H3a1 1 0 01-1-1V3.5a1 1 0 011-1h1v-1z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-1a.5.5 0 00-.5-.5zm-3-1A1.5 1.5 0 005 1.5v1A1.5 1.5 0 006.5 4h3A1.5 1.5 0 0011 2.5v-1A1.5 1.5 0 009.5 0h-3z" clip-rule="evenodd"/>
                <path d="M4 11a1 1 0 112 0v1a1 1 0 11-2 0v-1zm6-4a1 1 0 112 0v5a1 1 0 11-2 0V7zM7 9a1 1 0 012 0v3a1 1 0 11-2 0V9z"/>
              </svg>&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-success" onclick="projectpage()">New Project</button>
              </div>
          </div>
        </div>
      </div> --}}
    
    <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <p style="text-align: center;color: maroon;font-size: 25px; font-weight: 700;"><i>Makes discussions easy</i></p>
            <p><img style="height:200px;width: 310px;" src="https://images.squarespace-cdn.com/content/v1/57cec5ad414fb5cb6299f847/1484025734802-66WG4QHDOHI9AK4VKBPC/ke17ZwdGBToddI8pDm48kI_MG2sNLAm4x1X3JxRoicxZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVGi0TlEuC8IUB_NT7BWP0Td6rtsd27F9FycM_1rY5B2_jqWIIaSPh2v08GbKqpiV54/Intern+Avatar"></p> 
    
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p style="text-align: center;color: maroon;font-size: 25px; font-weight: 700;"><i>Makes you Multitasking</i></p>
            <p><img style="height:200px;width: 305px;" src="https://cdn.lynda.com/course/450184/450184-636247547583365360-16x9.jpg"></p> 
            <!-- <p>Text</p> 
            <p>Text</p>  -->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p style="text-align: center;color: maroon;font-size: 25px; font-weight: 700;"><i>Boosts regular growth</i></p>
            <p><img style="height:200px;width: 320px;" src="https://www.kindpng.com/picc/m/377-3776077_digital-marketing-course-student-internship-png-transparent-png.png"></p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p style="color: darkblue;font-size: 20px;font-weight: 500;;">For any issues contact-- beetleindia@gmail.com- or -beetleltd@gmail.com</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p p style="color: darkblue;font-size: 20px;font-weight: 500;">Contact-1220011845,12200343</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function deleteproject(id){
     var xmlHttpRequest = new XMLHttpRequest()
  xmlHttpRequest.onreadystatechange = function () {
      if (this.readyState === 4) {
          if (this.status === 200) {
              
              console.log("Update success")
             window.location.reload()
          }
          else {
              alert("Error in deleting project")
          }
      }
  }
  xmlHttpRequest.open("DELETE", "/api/owner/"+id, true)
  xmlHttpRequest.setRequestHeader("Content-Type", "application/json")
  xmlHttpRequest.setRequestHeader("Authorization", getCookie("authorization"));
  xmlHttpRequest.send()
  }

</script>

</body>
<!-- </html>https://media.istockphoto.com/photos/3d-businessman-presenting-business-growth-graph-chart-picture-id961904196 -->

