<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beetle | Making work easy</title>
    <link rel="stylesheet" href="/stylesheets/homepage2.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Rock+Salt&display=swap" rel="stylesheet">


</head>

<body style="background-color:#D4E6F1;">
    <div class="wrapper">
        <div class="header">
            <div id="logo">
                <h1 text-align="left" margin-top="550px" margin-left="50px"><span>B</span>EETLE</h1>
            </div>
            <div id="navbar">
                <nav>

                    <ul>
                        <li><button type="button" onclick="taskpage()" class="btn btn-primary">Add Task</button></li>
                        <li><button type="button" onclick="deletetaskpage()" class="btn btn-danger">Delete Task</button></li>
                        <li><button type="button" onclick="signout()" class="btn btn-warning">Sign Out</button></li>

                    </ul>
                    <script>
                      function taskpage(){
                        window.location = "/taskpage"
                      }
                      function deletetaskpage(){
                        window.location = "/deletetaskpage"
                      }
                    </script>
                </nav>


            </div>
        </div>


        <div id="content">
            
            <h2>Manage your work with Joy</h2>
            <!-- <button type="button" class="btn btn-primary btn-lg" >BootNik</button> -->
            <!-- <h3><button type="button" class="btn btn-primary">Try BootNik</button></h3> -->
             </div>
      <br><br>
       <div class="container">
        <div class="row">
         
      {{#if project.tasks}}
      {{#each project.tasks}}   
       <div class="col-sm">
        <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Author : {{author}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Due Date : {{dueDate}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Assigned To : {{assignedTo}}</h6>
    <br>
    <p class="card-text">{{description}}</p>
    <br>
    <a class="card-link" style="color: green;">{{status}}</a>
     <button type="button"onclick="updatetask()" class="btn btn-primary">Update Status</button>
     <script>
       function updatetask(){
         window.location = "/updatetask"
       }
     </script>
    </div>
    </div>
    </div>
{{/each}}
      {{/if}}

</div>
       </div>

  <br><br><br>

<!-- Modal -->

     
      </div>
      

      
</body>

</html>