<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href={{cssfile}} />
  <script src={{jsfile}}></script>
  {{#if bootint}}
  <link rel="stylesheet" href={{bootfile}}
        integrity={{bootint}} crossorigin={{bootorigin}}>
  {{else}}
   <link rel="stylesheet" href={{bootfile}}>
   {{/if}}      
   {{#if fontfile}}
  <link rel='stylesheet' href={{fontfile}} />      
   {{/if}}
   {{#if kit}}
   <script src={{kit}} crossorigin="anonymous"></script>
   {{/if}}
</head>


<body>
  {{{body}}}
</body>

</html>